<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  {{ vite src="resources/javascript/site.js|resources/scss/site.scss" }}
</head>

<body>
  {{ partial:header }}
  {{ partial:main-nav }}
  <main class="card-generator">
  <div class="generator-settings">
    <div class="generator-settings__inner">
      <div class="generator-settings__rules">
        <h2 class="generator-settings__section-heading">Ruleset selection</h2>
        <div class="generator-settings__row">
          <label>
            <p class="generator-settings__heading">T9A Version</p>
            <select id="version-select">
              <option disabled selected hidden>Select Rule Version</option>
              {{ versions }}
              {{ if game == 'ninthAge' }}
                <option value="{{ id }}">{{ name }}</option>
              {{ /if }}
              {{ /versions }}
            </select>
          </label>
          <label>
            <p class="generator-settings__heading">Army</p>
            <select id="army-select">
              <option disabled selected hidden>Select Army</option>
            </select>
          </label>
          <label>
            <p class="generator-settings__heading">Army Rules Version</p>
            <select id="army-sub-version-select">
              <option disabled selected hidden>Select Army Version</option>
            </select>
          </label>
        </div>
      </div>
      <div class="generator-settings__styles generator-settings__styles--hidden">
        <h2 class="generator-settings__section-heading">Style settings</h2>
        <div class="generator-settings__row image">
          <label class="default-image">
            <p class="generator-settings__heading">Image</p>
            <input id="default-image" type="file" accept="image/png, image/jpeg">
          </label>
          <div class="global__image-position">
            <p class="generator-settings__heading">Image position</p>
            <label>X <input id="global-image-x" type="number" min="0" max="100" value="50"></label>
            <label>Y <input id="global-image-y" type="number" min="0" max="100" value="50"></label>
          </div>
          </div>
          <div class="generator-settings__row color">
            <label class="global-color">
              <p class="generator-settings__heading">Color</p>
              <input type="color" value="#2F394C">
            </label>
            <label class="mix-image-toggle">
              <p class="generator-settings__heading">Color mixing</p>
              <input id="mix-image-toggle" type="checkbox">
              Mix colour with image<br>
            </label>
            <label class="transparency-toggle">
              <p class="generator-settings__heading">Transparency</p>
              <input id="global-transparency-toggle" type="checkbox" checked>
              Toggle transparency
            </label>
          </div>
          <div class="generator-settings__row">
            <label class="global-toggle">
              <p class="generator-settings__heading">Toggle exclusion of all cards</p>
              <input id="global-include-option" type="checkbox">
            </label>
          </div>
        </div>
      </div>
    </div>


      <div class="loader loader--hidden">
        <div class="loader__inner">
          {{ svg:anvil-impact }}
          <ul class="loader__statements">
            {{ partial:generator/loading_statements }}
          </ul>
        </div>
      </div>
      <div id="army-list" class="army-list"></div>
      <div class="print-list"></div>
    </main>

    <template id="unit-card">
      {{ partial:generator/card-unit }}
    </template>


  {{ partial:footer }}
</body>

</html>

