<header class="site-header">
  <div class="site-header__inner">
    <a href="/" class="site-header__logo-container">
      <img class="site-header__logo" src="/gfx/logo.png">
    </a>
    <nav class="feature-navigation">
      <ul class="feature-navigation__list">
        <li class="feature-navigation__item">
          <a class="feature-navigation__link" href="#">Starting The 9th Age</a>
        </li>
        <li class="feature-navigation__item">
          <a class="feature-navigation__link" href="#">The Universe of 9th Age</a>
        </li>
        <li class="feature-navigation__item">
          <a class="feature-navigation__link" href="#">The Factions</a>
        </li>
        <li class="feature-navigation__item">
          <a class="feature-navigation__link" href="#">Free Rulebooks</a>
        </li>
        <li class="feature-navigation__item">
          <a class="feature-navigation__link" href="#">Forums</a>
        </li>
      </ul>
    </nav>
    <div class="site-header__right">
      <button class="burger">
        {{ svg:burger }}
      </button>
    </div>
  </div>
  <div class="language-selector">
    <button class="language-selector__button">
      {{ svg:globe }}
    </button>
    <div class="language-selector__dropdown-container">
    <ul class="language-selector__dropdown">
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          English
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Deutsch
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Español
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Francais
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Italiano
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Polski
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Russki
        </a>
      </li>
      <li class="language-selector__item">
        <a class="language-selector__link" href="#">
          Chinese
        </a>
      </li>
    </div>
    </div>
  </div>
</header>