  <article class="unit-card">
    <div class="unit-card__inner" style="background-image: url(); background-position-x: 50%; background-position-y: 50%;">
      <div class="unit-card__icon"><img width="30" height="30"></div>
      <header class="unit-card__header">
        <div class="unit-card__header-inner">
          <p class="unit-card__name"></p>
          <div class="unit-card__category">
            <p></p>
          </div>
        </div>
        <div class="unit-card__meta">
          <p>Base: <span class="unit-card__base"></span></p>
          <p>Size: <span class="unit-card__size"></span></p>
        </div>
      </header>
      <div class="unit-card__details">
        {{ partial:generator/characteristics-table }}
      </div>
    </div>
    <div class="unit-card__options">
      <label><input class="unit-card__include-option" type="checkbox" checked>Include in print</label>
      <div class="unit-card__style">
        <div class="unit-card__image">
          <input type="file" accept="image/png, image/jpeg">
          <button class="remove-image-button">X</button>
        </div>
        <div class="unit-card__image-position">
          <label>
            X<input class="bg-pos-x" type="number" min="0" max="100" value="50">
          </label>
          <label>
            Y<input class="bg-pos-y" type="number" min="0" max="100" value="50">
          </label>
        </div>
        <div class="unit-card__color-mix">
          <label>
            <input type="checkbox" class="mix-background">
            Mix image with army colour
          </label>
        </div>
      </div>
    </div>
  </article>