<table class="unit-card__stats">
  <colgroup>
    <col class="table-column-headers">
    <col class="table-column-stat">
    <col class="table-column-stat">
    <col class="table-column-stat">
    <col class="table-column-stat">
    <col class="table-column-stat">
    <col class="table-column-rules">
  </colgroup>
  <thead>
    <tr>
      <th>Global</th>
      <th>Cha</th>
      <th>Mob</th>
      <th>Dis</th>
      <th></th>
      <th></th>
      <th>Model Rules</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="unit-card__charge stat"></td>
      <td class="unit-card__mobility stat"></td>
      <td class="unit-card__discipline stat"></td>
      <td></td>
      <td></td>
      <td class="unit-card__global-rules"></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Defensive</th>
      <th>HP</th>
      <th>Def</th>
      <th>Res</th>
      <th>Arm</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="unit-card__health-points stat"></td>
      <td class="unit-card__defense stat"></td>
      <td class="unit-card__resilience stat"></td>
      <td class="unit-card__armour stat"></td>
      <td class="empty"></td>
      <td class="unit-card__defensive-rules"></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Offensive</th>
      <th>Att</th>
      <th>Off</th>
      <th>Str</th>
      <th>Ap</th>
      <th>Agi</th>
      <th>Weapons, Attack Attributes and Properties</th>
    </tr>
  </thead>
  <tbody class="unit-card__troop-container">
    <tr class="unit-card__troop" data-troop-id="">
      <td class="unit-card__troop-name"></td>
      <td class="unit-card__troop-attacks stat"></td>
      <td class="unit-card__troop-offensive-skill stat"></td>
      <td class="unit-card__troop-strength stat"></td>
      <td class="unit-card__troop-armour-piercing stat"></td>
      <td class="unit-card__troop-agility stat"></td>
      <td class="unit-card__troop-offensive-rules"></td>
    </tr>
  </tbody>
</table>