<li>Rolling ones on every die</li>
<li>Optimising deployment zones</li>
<li>Training goblins to follow orders</li>
<li>Gluing fingers together</li>
<li>Placing down terrain</li>
<li>Measuring distances</li>
<li>Consulting the rulebooks</li>
<li>Siphoning the veil</li>
<li>Sharing army lists</li>
<li>Negotiating with the Dark Gods</li>
<li>Prioritising modifiers</li>
<li>Balancing armies</li>
<li>Raising the dead from sands</li>
<li>Playtesting</li>
<li>Cleaning resin from moms favorite carpet</li>
<li>Priming minis</li>