@use '../base' as *;

.army-featured {
    opacity: 0;
    position: absolute;
    transition: opacity 750ms ease-in;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column-reverse;
    font-size: var(--fs-base);
    gap: 1rem;
    @media(min-width: $large) {
      font-size: var(--fs-md);
      display: grid;
      grid-template-columns: 1fr 400px;
    }
    &--show {
      opacity: 1;
      z-index: 1;
      position: relative;
    }
    &__heading {
      font-size: var(--fs-xl);
      color: var(--color-text);
    }
    &__description {
      padding-top: 1rem;
    }
    &__image-container {
      background-color: var(--color-accent-700);
      text-align: center;
    }
    &__image {
      mix-blend-mode: darken;
      max-height: 250px;
      @media(min-width: $large) {
        max-height: 600px;
      }
    }
  }