@use '../base' as *;

.button {
  text-decoration: none;
  border-radius: 10rem;
  padding: .75rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-main);
  transition: background-color 300ms;
  display: inline-block;
  @media(hover:hover) {
    &:hover {
      background-color: var(--color-accent);
      color:white;
    }
  }
  &:active {
    background-color: var(--color-accent-400);
  }
}