@use "breakpoints" as *;

/* Module spacing */
.filled + .filled { // allways add padding to element too.
  padding-top: unset;
}

/* Utilities */
.noscroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}