@use './breakpoints' as *;

/* Centered container */
@mixin container {
  background-color: blue;
  color: white;
  text-align: center;
  max-width: 100%;
  margin-inline: auto;
  @media(max-width: $small) {
    padding-inline: 1rem;
  }
  @media(min-width: $small) {max-width: 33.75em;}
  @media(min-width: $medium) {max-width: 45em;}
  @media(min-width: $large) {max-width: 60em;}
  @media(min-width: $xlarge) {max-width: 71.25em}
  @media(min-width: $xxlarge) {max-width: 82.5em;}
}