@use './breakpoints' as *;

/* Centered container */
@mixin container {
  width: 100%;
  margin-inline: auto;
  @media(max-width: $small) {
    padding-inline: 1rem;
  }
  @media(min-width: $small) {max-width: 33.75em;}
  @media(min-width: $medium) {max-width: 45em;}
  @media(min-width: $large) {max-width: 60em;}
  @media(min-width: $xlarge) {max-width: 71.25em}
  @media(min-width: $xxlarge) {max-width: 82.5em;}
  @media(min-width: $xxxlarge) {max-width: 108rem;}
}

@mixin list-reset {
  list-style: none;
  padding-left: unset;
  margin-block: 0;
}