@use "breakpoints" as *;

:root {
  /* Main Colors */
  --color-main: #fff;
  --color-text: #000;

  --gap: 1rem;

  /* Module spacing */
  --module-spacing: 3rem;
  @media(min-width: $medium) {
    --module-spacing: 6rem;
  }
}