/* Default style for html-tags often used in wysiwyg-fields */
img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: currentColor;
}

ul {
  list-style: disc;
  padding-left: 2rem;
  margin-top: .5rem;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
  margin-top: .5rem;
}

br {
  display: block;
  margin-top: 1rem;
}

u {
  text-decoration: underline;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

p + p {
  margin-top: 1rem;
}