/* Default style for html-tags often used in wysiwyg-fields */
img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: currentColor;
}

.bard {
  & h1 {
    font-size: var(--fs-xxl);
    margin-bottom: 2rem;
  }
  h2 {
    font-size: var(--fs-xl);
    margin-bottom: 1rem;
  }
  h3 {
    font-size: var(--fs-lg);
    margin-bottom: .5rem;
  }

  & *+h2,
  *+h3 {
    margin-top: 2rem;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;
    margin-block: .5rem;
  }

  ol {
    list-style: decimal;
    padding-left: 2rem;
    margin-block: .5rem;
  }

  u {
    text-decoration: underline;
  }

  b, strong {
    font-weight: 700;
  }

  i, em {
    font-style: italic;
  }

  p + p {
    margin-top: 1rem;
  }

  table {
    margin-block: 1rem;
    font-size: 1rem;
    & th, td {
      border: 1px solid var(--color-main-light-600);
      padding: .25rem;
    }
    & th {
      text-align: unset;
      background-color: var(--color-main-light-100);
    }
  }
}