@use '../base' as *;

.content {
  background-color: var(--color-main);
  color: var(--color-accent-900);
  padding-block: var(--module-spacing);
  font-size: 1.25rem;
  &__outer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include container;
  }
  &__inner {
    grid-column: 4 / span 5;
  }
  & h1, h2, h3, h4, h5, h6 {
    text-transform: unset,
  }
  & h1 {
    font-size: var(--fs-xl);
  }
  & h2 {
    font-size: var(--fs-lg);
  }
  & h3 {
    font-size: var(--fs-md);
  }
  & h1, h2, h3 {
    color: var(--color-accent);
    padding-bottom: 1rem;
  }
  & * + h2, * + h3 {
    padding-top: 2rem;
  }
}