@use '../base' as *;

.content {
  padding-block: var(--module-spacing);
  font-size: 1.125rem;
  line-height: 130%;
  background-color: var(--color-main);
  color: white;
  & ::selection {
    color: var(--color-main);
    background-color: white;
  }
  @media(max-width: $small) {
    padding-inline: 1rem;
  }
  &__outer {
    max-width: var(--container);
    margin-inline: auto;
    display: grid;
    @media(min-width: $large) {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  &__inner {
    @media(min-width: $medium) {
      grid-column: 2 / span 8;
    }
    @media(min-width: $large) {
      grid-column: 3 / span 7;
    }
    @media(min-width: $xlarge) {
      grid-column: 4 / span 6;
    }
  }
  & h1, h2, h3, h4, h5, h6 {
    text-transform: unset,
  }
  & a {
    position: relative;
    text-decoration: none;
    isolation: isolate;
    background: linear-gradient(0deg, white, white) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 200ms, color 200ms;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    text-decoration-style: dotted;
    --bg-h: calc(100% + 6px );
    @media(hover: hover) {
      &:hover {
        color: var(--color-main);
        text-decoration: none;
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
    }
  }
  &-image {
    margin-block: 2rem;
    & img {
      vertical-align: middle;
      border-radius: 1rem;
    }
    & figcaption {
      padding-top: .5rem;
      font-size: .85rem;
      font-style: italic;
      grid-column: 1 / -1;
    }
    &--grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: .5rem;
      & :nth-last-child(2):nth-child(odd) {
        grid-column: 1 / -1;
      }
    }
  }
}