@use '../base' as *;

.forum-news {
  &__inner {
    padding-block: var(--module-spacing);
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1rem;
    max-width: min(100vw, var(--container));
    @media(max-width: $large) {
      flex-wrap: wrap;
      row-gap: 1rem;
      padding-inline: 1rem;
    }
    @media(min-width: $large) {
      padding-bottom: 2rem;
    }
  }
  &__heading {
    font-size: var(--fs-md);
  }
  &__archive {
    color: inherit;
    display: flex;
    gap: 1rem;
    align-items: center;
    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &__list {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 20rem);
    overflow-x: scroll;
    scrollbar-width: 0;
    scroll-snap-type: x mandatory;
    padding-block: .5rem;
    position: relative;
    color: white;
    max-width: calc(100vw - (100vw - var(--container))/2);
    @media(hover: hover) {
      &:hover #news-scroll-button {
        opacity: 1;
      }
    }
  }
  &__item {
    position: relative;
    background-color: color-mix(in srgb, var(--color-main) 100%, black 40%);
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 300ms, transform 1s;
    scroll-snap-align: center;
    &:hover {
      transform: translateY(-.5rem);
      background-color: var(--color-main-light-100);
    }
    &:hover .forum-news__item-heading {
      color: var(--color-accent);
    }
    &:first-of-type {
      @media(max-width: $large) {
        margin-left: 1rem;
      }
    }
    &:last-of-type {
      @media(max-width: $large) {
        margin-right: 1rem;
      }
    }
  }
  &__item-heading {
    transition: color 300ms;
    padding-bottom: 1rem;
  }
  &__item-date {
    padding-bottom: 1rem;
  }
  &__item-link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  &__item-teaser {
    font-family: serif;
    display: none;
  }
  &__external-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
  }
  & #news-scroll-button {
    margin-block: auto;
    height: auto;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: var(--color-main);
    border: 1px solid var(--color-accent-100);
    line-height: 1;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 900;
    transition: opacity 150ms, background-color 300ms;
    position: sticky;
    left: 0;
    display: none;
    @media(hover: hover) {
      display: block;
    }
    &:hover {
      background-color: var(--color-main-light-100);
    }
    &:active {
      background-color: var(--color-main-light-400);
    }
  }
}