@use '../base' as *;

.forum-news {
  background-color: var(--color-accent-900);
  &__inner {
    background: var(--color-main);
    color: var(--color-accent-900);
    padding-block: var(--module-spacing);
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 4rem;
    @include container;
    @media(max-width: $large) {
      flex-wrap: wrap;
      row-gap: 1rem;
    }
    @media(min-width: $large) {
      padding-bottom: 2rem;
    }
  }
  &__heading {
    font-size: var(--fs-md);
  }
  &__archive {
    color: inherit;
    display: flex;
    gap: 1rem;
    align-items: center;
    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &__list {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    padding-block: .5rem;
    margin-inline: calc((100% - var(--container)) / 2);
    position: relative;
    &:hover #news-scroll-button {
      opacity: 1;
    }
  }
  &__item {
    position: relative;
    background-color: color-mix(in srgb, var(--color-main) 100%, black 40%);
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 300ms, transform 1s;
    min-width: 20rem;
    &:hover {
      transform: translateY(-.5rem);
      background-color: var(--color-main-light-100);
    }
    &:hover .forum-news__item-heading {
      color: var(--color-accent);
    }
  }
  &__item-heading {
    transition: color 300ms;
    padding-bottom: 1rem;
  }
  &__item-date {
    padding-bottom: 1rem;
  }
  &__item-link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  &__item-teaser {
    font-family: serif;
  }
  &__external-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
  }
  & #news-scroll-button {
    position: absolute;
    right: 2.25rem;
    margin-block: auto;
    top: 0;
    bottom: 0;
    height: auto;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: var(--color-main);
    border: 1px solid var(--color-accent-100);
    line-height: 1;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 900;
    transition: opacity 150ms, background-color 300ms;
    opacity: 0;
    &:hover {
      background-color: var(--color-main-light-100);
    }
    &:active {
      background-color: var(--color-main-light-400);
    }
  }
}