@use '../base' as *;
@use 'components/news-card';

.forum-news {
  background-color: var(--color-main);
  color: white;
  &__inner {
    padding-block: calc(var(--module-spacing) / 2);
    width: min(100%, var(--container));
    margin-inline: auto;
    @media(max-width: $small) {
      padding-inline: var(--gap);
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    @media(max-width: $large) {
      flex-wrap: wrap;
      row-gap: 1rem;
    }
    @media(min-width: $large) {
      padding-bottom: 2rem;
    }
  }
  &__heading {
    font-size: var(--fs-md);
  }
  &__archive {
    color: inherit;
    display: flex;
    gap: 1rem;
    align-items: center;
    & svg {
      width: 1rem;
      height: 1rem;
    }
  }
  &__list {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    padding-block: .5rem;
  }
}