@use '../base' as *;

.hero {
  --header-height: 70px;
  height: calc(100vh - var(--header-height));
  color: white;
  &__container {
    position: absolute;
    inset: 0;
    top: var(--header-height);
    display: flex;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2rem;
    margin-inline: auto;
    width: 100%;
    align-items: center;
  }
  &__header {
    height: 100%;
    display: flex;
    align-items: center;
    @include container;
  }
  &__heading-inner {
    margin-left: calc((100vw - var(--container)) / 2);
  }
  &__header-inner {
    text-align: center;
    text-wrap: balance;
    max-width: 75ch;
    margin-inline: auto;
  }
  &__heading {
    line-height: 1;
    text-wrap: balance;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: var(--fs-xxl);
    @media(min-width: $large) {
      font-size: var(--fs-xxxl);
    }
  }
  &__description {
    font-family: sans-serif;
    font-size: var(--fs-lg);
    @media(min-width: $large) {
      font-size: 2rem;
    }
    & + .hero__down-arrow {
      margin-top: 4rem;
    }
  }
  &__image-container {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &.transitions {
      transition: background-position 2s linear;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(0, rgba(0,0,0, .75) 33.33%, transparent);
    }
  }
  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @media (prefers-reduced-motion) {
      display: none;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__down-arrow {
    text-decoration: none;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 300ms background-color;
    @media(hover: hover) {
      &:hover {
        background-color: var(--color-main);
      }
    }
  }
}