:root {
  --opacity: 50%;
  --text-dark: #000;
  --text-light: #fff;
  --card-width: 14.8cm;
}

.army-list {
  display: grid;
  gap: 1rem;
  row-gap: 3rem;
  grid-template-columns: repeat(2, var(--card-width));
  padding-block: 2rem;
  max-width: var(--container);
  margin-inline: auto;
  &[data-theme="dark"] {
    --color-text: var(--text-light);
    --border-style: 1px solid color-mix(in srgb, var(--army-color), transparent 80%);
    --icon-filter: brightness(0) invert(1);
  }
  &[data-theme="light"] {
    --color-text: var(--text-dark);
    --border-style: 1px solid color-mix(in srgb, var(--army-color), transparent 80%);
    --icon-filter: none;
  }
}
.hidden {
  display: none;
}
.generator-settings {
  width: var(--container);
  margin-inline: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  & select {
    background-color: unset;
    border: 1px solid #949494;
    font-size: 1rem;
    padding: .5rem;
  }
  #version-select {
    min-width: 20ch;
  }
  #army-select {
    min-width: 27ch;
  }
  #army-sub-version-select {
    min-width: 42ch;
  }
  &__inner {
    display: grid;
    gap: 1rem;
  }
  &__row {
    display: flex;
    gap: 1rem;
    &.color {
      padding-top: 1rem;
    }
  }
  &__rules {
    padding-bottom: 1rem;
  }
  &__styles {
    &--hidden {
      display: none;
    }
  }
  &__section-heading {
    font-family: sans-serif;
    text-transform: unset;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  &__heading {
    padding-bottom: .5rem;
    font-weight: 700;
  }
  & .default-image {
    display: flex;
    flex-direction: column;
  }
}

.loader {
  margin-inline: auto;
  width: var(--container);
  &__inner {
    display: grid;
    grid-template-columns: max(400px, 50%);
    justify-items: center;
  }
  &--hidden {
    display: none;
  }
  &--hidden .hammer {
    animation-play-state: paused;
  }
  &__statements {
    list-style: none;
    margin: unset;
    padding: unset;
    position: relative;
    height: 2rem;
    margin-top: 1rem;
  }
  &__statements li {
    transition: 300ms opacity, 500ms transform;
    width: fit-content;
  }
  &__statements li:not(.active) {
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
  }
  &__statements .active {
    opacity: 1;
    transform: translateX(0);
    &::after {
      content: '...';
    }
  }
  & svg {
    width: 200px;
    height: 200px;
    fill: var(--color-main);
    margin-left: -4rem;
    & .hammer {
      transform-origin: center;
      transform: rotate(-45deg) translateY(-35%);
      animation: hammerhit infinite 2s linear running;
    }
  }
}

@keyframes hammerhit {
  0% {
    transform: rotate(-45deg) translateY(-35%);
  }
  25% {
    transform: rotate(0deg) translateY(0%);
  }
  35% {
    transform: rotate(-10deg) translateY(-5%);
  }
  45% {
    transform: rotate(0deg) translateY(0%);
  }
  95% {
    transform: rotate(-45deg) translateY(-35%);
  }
}

.unit-card {
  &:has(.unit-card__include-option:not(:checked)) .unit-card__inner {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.50);
      inset: 0;
      z-index: 1;
      position: absolute;
    }
    &::after {
      content: 'Skip';
      font-family: 'Courier New', Courier, monospace;
      text-transform: uppercase;
      position: absolute;
      z-index: 1;
      color: #6e6e6efd;
      font-size: 7rem;
      left: 50%;
      top: 50%;
      transform-origin: left;
      transform: rotate(-45deg) translateX(-25%) translateY(-25%);
    }
  }
  &__inner {
    overflow: hidden;
    border-radius: 2rem;
    background-color: color-mix(in srgb, var(--army-color), #fff 20%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    align-content: space-between;
    height: 10.5cm;
  }
  &__icon {
    background-color: color-mix(in srgb, var(--army-color), rgba(0, 0, 0, 50%) var(--opacity));
    position: absolute;
    height: 3.75rem;
    width: 3rem;
    top: 0;
    left: 1rem;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: .8rem;
    box-shadow: .5rem 0 1rem rgba(0, 0, 0, .75);
    border-radius: 0 0 1rem 1rem;
    & img {
      filter: var(--icon-filter);
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
  &__header {
    background-color: color-mix(in srgb, var(--army-color), rgba(0, 0, 0, 50%) var(--opacity));
    padding-inline: 1rem;
    color: white;
    border-radius: 0 0 0 1rem;
    padding-block: .5rem;
    font-size: 11pt;
    margin-left: 7rem;
  }
  &__header-inner {
    border-bottom: 1px solid color-mix(in srgb, var(--color-text), transparent 80%);
    display: grid;
    grid-template-columns: auto 16ch;
    align-items: end;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
  }
  &__name {
    font-size: 1rem;
    text-wrap: balance;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__category {
    text-wrap: balance;
  }
  &__meta {
    display: grid;
    grid-template-columns: auto 16ch;
    & p {
      margin: unset;
    }
  }
  &__details {
    background-color: color-mix(in srgb, var(--army-color), rgba(0,0,0,50%) var(--opacity));
    color: var(--color-text);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: .5rem;
    padding-bottom: .75rem;
    margin-top: 4rem;
    min-height: 248px;
  }
  &__stats {
    width: 100%;
    font-size: 9pt;
    & th, td {
      padding: .25rem;
    }
    & th {
      font-style: italic;
      text-align: left;
      border-bottom: 1px solid color-mix(in srgb, var(--army-color), #fff 50%);
      background-color: color-mix(in srgb, var(--army-color), #fff 10%);
    }
    & .stat {
      font-weight: 800;
      text-align: center;
    }
  }
  & [class$="rules"] span + span::before {
    content: ', ';
  }
  & .table-column-headers {
    width: 18ch;
  }
  & .table-column-stat {
    width: 4ch;
  }
  & .table-column-rules {
    width: auto;
  }
  &__troop-name {
    padding-left: .5rem !important;
  }
  &__options {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.5rem;
    border: 1px solid;
    padding: 1rem;
    background-color: #efefef;
  }
  &__style {
    display: grid;
    row-gap: 1rem;
  }
  &__image-position {
    display: flex;
    gap: 1rem;
    & label {
      display: flex;
      gap: .5rem;
      align-items: center;
    }
  }

  [data-row="1"] {
    & dt {
      display: none;
    }
  }
}

@media print {
  // @page {
  //     size: landscape
  //   }
  .site-header, nav, footer, .generator-settings {
    display: none;
  }
  body {
    print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }
  .army-list {
    max-width: unset;
    margin-inline: unset;
    column-gap: 1rem;
    grid-template-columns: repeat(1, var(--card-width));
    justify-content: space-between;
  }
  .unit-card__options {
    display: none;
  }
  // Hide unchecked entries
  .unit-card:has(.unit-card__include-option:not(:checked)) {
    display: none;
  }
}