<section class="half-image-half-text{{ !flip_layout ? '' : ' half-image-half-text--flipped' }}">
  <div class="half-image-half-text__inner">
    <div class="half-image-half-text__image-container">
      <img class="half-image-half-text__image" src="{{ glide:image width="856" height="481" fit="crop_focal" format="webp" }}" alt="{{ alt }}">
    </div>
    <div class="half-image-half-text__content-container">
      <div class="half-image-half-text__content">
        {{ content }}
          {{ if type == 'text' }}
            {{ text }}
          {{ else }}
          HELLO
          {{ /if }}
        {{ /content }}
      </div>
    </div>
  </div>
</section>