<section class="tabs-cards filled">
  <div class="tabs-cards__inner">
    <h2 class="tabs-cards__heading">{{ heading }}</h2>
    <div class="tabs-cards__nav">
      <ol class="tabs-cards__nav-list">
        {{ cards }}
          <li class="tabs-cards__nav-item">
            <button class="tabs-cards__nav-button{{ first ? ' tabs-cards__nav-button--active' : '' }}" value="{{ tab_name|slugify }}">
              {{ tab_name }}
            </button>
          </li>
        {{ /cards }}
      </ol>
    </div>
    <div class="tabs-cards__cards">
      {{ cards }}
        <article class="tabs-card {{ first ? 'tabs-card--active' : '' }}" data-tab="{{ tab_name|slugify }}">
          <div class="tabs-card__content">
            {{ content }}
              {{ if type == 'text' }}
                {{ text }}
              {{ /if }}
              {{ if type == 'button' }}
              <div class="button__container">
                {{ partial:modules/partials/button }}
              </div>
              {{ /if }}
            {{ /content }}
          </div>
          <div class="tabs-card__image-container">
            <img class="tabs-card__image" src="{{ image }}">
          </div>
        </article>
      {{ /cards }}
    </div>
  </div>
</section>
